.app_header {
  background-color: black;
  color: white;
  height: 75px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.app_header h2 {
  margin: 0;
}

.app_section {
  margin: 10px;
}

.status_container {
  display: flex;
  margin: 5px 0px;
}

.status_label {
  width: 160px;
  font-weight: bold;
}