.app_header {
  background-color: black;
  color: white;
  height: 75px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.app_header h2 {
  margin: 0;
}

.app_section {
  margin: 10px;
}

.app_mode_button {
  width: 125px;
}

.status_container {
  display: flex;
  margin: 5px 0;
}

.status_label {
  width: 160px;
  font-weight: bold;
}

.override_container {
  margin-top: 40px;
}

.override_button_group {
  width: 200px;
}

.override_button {
  height: 75px;
}

.program_container {
  margin-top: 20px;
}

.schedule_entry_button {
  width: 100px;
}

.schedule_entry_button_container {
  display: flex;
  justify-content: space-between;
}

.schedule_entry_group {
  display: flex;
  margin: 5px 0;
}

.schedule_entry_label {
  width: 100px;
  font-weight: bold;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
}

.popup_container {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.popup_header {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: #eee;
  margin: 0;
}

.popup_button {
  width: 100px;
  margin: 20px 0 0 20px;
}