<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aquarium Control Configuration</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<style type="text/css">
		body {
			margin: 5px
		}
		.system-saving {
			display: none;
			margin: 10px;
		}
		</style>
		<script>

		function setClass(id, className) {
			document.getElementById(id).className = className;
		}

		function setContent(id, text) {
			document.getElementById(id).innerHTML = text;
		}

		function updateState() {
			var changesPresent = false
			function checkChangedState(lastSaveSettingsNode, currentSettingsNode) {
				var p,
					found = false;
				for (p in lastSaveSettingsNode) {
					if (typeof lastSaveSettings[p] === 'object') {
						found = found || checkChangedState(lastSaveSettingsNode[p], currentSettingsNode[p]);
					} else if (lastSaveSettingsNode[p] !== currentSettingsNode[p]) {
						found = true;
					}
				}
				return found;
			}
			if (checkChangedState(lastSaveSettings.system, currentSettings.system)) {
				setContent('systemTab', 'System*');
				changesPresent = true;
			} else {
				setContent('systemTab', 'System');
			}
			if (checkChangedState(lastSaveSettings.dynamic, currentSettings.dynamic)) {
				setContent('dynamicTab', 'Dynamic*');
				changesPresent = true;
			} else {
				setContent('dynamicTab', 'Dynamic');
			}
			if (checkChangedState(lastSaveSettings.static, currentSettings.static)) {
				setContent('staticTab', 'Static*');
				changesPresent = true;
			} else {
				setContent('staticTab', 'Static');
			}
			if (checkChangedState(lastSaveSettings.manual, currentSettings.manual)) {
				setContent	('manualTab', 'Manual*');
				changesPresent = true;
			} else {
				setContent('manualTab', 'Manual');
			}
			setClass('system.save', changesPresent ? 'btn btn-primary' : 'btn btn-primary disabled');
		}

		var get = document.getElementById,
			lastSaveSettings = {
				system: {
					mode: 'dynamic'
				},
				dynamic: {

				},
				static: {

				},
				manual: {
					setting: 'day'
				}
			},
			currentSettings = {
				system: {
					mode: 'dynamic'
				},
				dynamic: {

				},
				static: {

				},
				manual: {
					setting: 'day'
				}
			},
			eventHandlers = {
				system: {
					mode: {
						dynamic: function () {
							setClass('system.mode.dynamic', 'active');
							setClass('system.mode.static', '');
							setClass('system.mode.manual', '');
							currentSettings.system.mode = 'dynamic';
							updateState();
						},
						static: function () {
							setClass('system.mode.dynamic', '');
							setClass('system.mode.static', 'active');
							setClass('system.mode.manual', '');
							currentSettings.system.mode = 'static';
							updateState();
						},
						manual: function () {
							setClass('system.mode.dynamic', '');
							setClass('system.mode.static', '');
							setClass('system.mode.manual', 'active');
							currentSettings.system.mode = 'manual';
							updateState();
						},
					},
					save: function () {
						var saving = document.getElementById('system.saving'),
							savingProgressBar = document.getElementById('system.savingProgressBar'),
							settings;
						saving.style.display = 'block';
						savingProgressBar.style.width = '0%';

						function updateLastSaveSettings(lastSaveSettingsNode, currentSettingsNode) {
							var p;
							for (p in lastSaveSettingsNode) {
								if (typeof lastSaveSettings[p] === 'object') {
									updateLastSaveSettings(lastSaveSettingsNode[p], currentSettingsNode[p]);
								} else {
									lastSaveSettingsNode[p] = currentSettingsNode[p]
								}
							}
							updateState();
						}
						updateLastSaveSettings(lastSaveSettings.system, currentSettings.system);
						updateLastSaveSettings(lastSaveSettings.dynamic, currentSettings.dynamic);
						updateLastSaveSettings(lastSaveSettings.static, currentSettings.static);
						updateLastSaveSettings(lastSaveSettings.manual, currentSettings.manual);
					}
				},
				dynamic: {

				},
				static: {

				},
				manual: {
					setting: {
						day: function () {
							setClass('manual.setting.day', 'active');
							setClass('manual.setting.night', '');
							setClass('manual.setting.off', '');
							currentSettings.manual.setting = 'day';
							updateState();
						},
						night: function () {
							setClass('manual.setting.day', '');
							setClass('manual.setting.night', 'active');
							setClass('manual.setting.off', '');
							currentSettings.manual.setting = 'night';
							updateState();
						},
						off: function () {
							setClass('manual.setting.day', '');
							setClass('manual.setting.night', '');
							setClass('manual.setting.off', 'active');
							currentSettings.manual.setting = 'off';
							updateState();
						}
					}
				}
			}
		</script>
	</head>
	<body>
		<h2>Aquarium Control Configuration</h2>
		<div class="tabbable"> <!-- Only required for left/right tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab0" data-toggle="tab" id="systemTab">System</a></li>
				<li><a href="#tab1" data-toggle="tab" id="dynamicTab">Dynamic</a></li>
				<li><a href="#tab2" data-toggle="tab" id="staticTab">Static</a></li>
				<li><a href="#tab3" data-toggle="tab" id="manualTab">Manual</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab0">
					<form id="form0">
						<div class="control-group">
							<label class="control-label" for="inputMode">Mode</label>
							<div class="controls">
								<ul class="nav nav-pills nav-stacked">
									<li id="system.mode.dynamic" onclick="eventHandlers.system.mode.dynamic();" class="active" ><a href="#">Dynamic</a></li>
									<li id="system.mode.static" onclick="eventHandlers.system.mode.static();"><a href="#">Static</a></li>
									<li id="system.mode.manual" onclick="eventHandlers.system.mode.manual();"><a href="#">Manual</a></li>
								</ul>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<a id="system.save" class="btn btn-primary" href="#" onclick="eventHandlers.system.save();">Apply Settings</a>
							</div>
						</div>
					</form>
					<div id="system.saving" class="system-saving">
						<div class="hero-unit">
							<h2>Saving</h2>
							<div class="progress">
								<div id="system.savingProgressBar" class="bar" style="width: 100%;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab1">
					<form id="form1">
						<legend>Sunrise Twilight Length</legend>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunriseTwilightLengthHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunriseTwilightLengthHours" value="0" min="0" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunriseTwilightLengthMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunriseTwilightLengthMinutes" value="0" min="-0" max="59" />
							</div>
						</div>
						<legend>Sunrise Offset</legend>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunriseOffsetHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunriseOffsetHours" value="0" min="-6" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunriseOffsetMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunriseOffsetMinutes" value="0" min="-59" max="59" />
							</div>
						</div>
						<legend>Sunset Offset</legend>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunsetOffsetHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunsetOffsetHours" value="0" min="-6" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunsetOffsetMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunsetOffsetMinutes" value="0" min="-59" max="59" />
							</div>
						</div>
						<legend>Sunset Twilight Length</legend>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunsetTwilightLengthHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunsetTwilightLengthHours" value="0" min="0" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputDynamicSunsetTwilightLengthMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputDynamicSunsetTwilightLengthMinutes" value="0" min="-0" max="59" />
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="tab2">
					<form id="form2">
						<legend>Sunrise Twilight</legend>
						<div class="control-group">
							<label class="control-label" for="inputManualSunriseTwilightHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputManualSunriseTwilightHours" value="0" min="0" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputManualSunriseTwilightMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputManualSunriseTwilightMinutes" value="0" min="-0" max="59" />
							</div>
						</div>
						<legend>Sunrise</legend>
						<div class="control-group">
							<label class="control-label" for="inputManualSunriseHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputManualSunriseHours" value="0" min="-6" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputManualSunriseMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputManualSunriseMinutes" value="0" min="-59" max="59" />
							</div>
						</div>
						<legend>Sunset</legend>
						<div class="control-group">
							<label class="control-label" for="inputManualSunsetHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputManualSunsetHours" value="0" min="-6" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputManualSunsetMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputManualSunsetMinutes" value="0" min="-59" max="59" />
							</div>
						</div>
						<legend>Sunset Twilight</legend>
						<div class="control-group">
							<label class="control-label" for="inputManualSunsetTwilightHours">Hours</label>
							<div class="controls">
								<input type="number" id="inputManualSunsetTwilightHours" value="0" min="0" max="6" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputManualSunsetTwilightMinutes">Minutes</label>
							<div class="controls">
								<input type="number" id="inputManualSunsetTwilightMinutes" value="0" min="-0" max="59" />
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="tab3">
					<form id="form3">
						<div class="control-group">
							<label class="control-label" for="inputMode">Setting</label>
							<div class="controls">
								<ul class="nav nav-pills nav-stacked">
									<li id="manual.setting.day" onclick="eventHandlers.manual.setting.day();" class="active"><a href="#">Day</a></li>
									<li id="manual.setting.night" onclick="eventHandlers.manual.setting.night();"><a href="#">Night</a></li>
									<li id="manual.setting.off" onclick="eventHandlers.manual.setting.off();"><a href="#">Off</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
		var formClass = window.innerWidth < 500 ? "form" : "form-horizontal";
		setClass('form0', formClass);
		setClass('form1', formClass);
		setClass('form2', formClass);
		setClass('form3', formClass);
		</script>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>