body {
  padding-top: 50px;
}

#container {
  margin: 15px;
}

.override_button, .program_button {
  position: absolute;
  top: 60px;
  right: 10px;
}

.edit_popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}


@media screen and (min-device-width : 480px) {
  .edit_form {
    background-color: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    padding: 20px;
    border-radius: 5px;
  }
}

@media screen and (max-device-width : 480px) {
  .edit_form {
    background-color: #fff;
    position: absolute;
    top: 55px;
    left: 5px;
    right: 5px;
    padding: 20px;
    border-radius: 5px;
  }
}

.btn {
  width: 75px;
}

.create_button {
  width: 125px;
}

.move_up_button, .move_down_button {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  right: 10px;
}

.move_up_button {
  top: 10px;
}

.move_down_button {
  bottom: 10px;
}

.schedule_container {
  margin-right: 70px;
}

.arrange_container {
  float: right;
}